.logo {
  height: 70px;
  text-align: center;
  margin: 5px;
}
.logo img {
  height: 66px;
}
.project-name {
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
  margin: 0;
  font-size: 18px;
}
