<li *ngIf="sideList.children" class="first-li" nz-submenu [(nzOpen)]="sideList.open">
  <a href="javascript:;" class="nav-first-level" title>
    <i nz-icon [nzType]="sideList.icon"></i>{{sideList.label}}
  </a>
  <ul class="nav-second-level">
    <ng-container *ngFor="let sideChildrenList of sideList.children">
      <li nz-menu-item [nzSelected]="sideChildrenList.selected">
        <a *ngIf="sideChildrenList.path" [attr.href]="'/' + sideChildrenList.path + '/#/' + sideChildrenList.link"
          [attr.target]="sideChildrenList.target" routerLinkActive="active">
          <i class="fa fa-dot"></i>{{sideChildrenList.label}}
        </a>
        <a *ngIf="!sideChildrenList.path" [routerLink]="'/'+sideChildrenList.link" routerLinkActive="active"
          [attr.target]="sideChildrenList.target">
          <i class="fa fa-dot"></i>{{sideChildrenList.label}}
        </a>
      </li>
    </ng-container>
  </ul>
</li>
<li *ngIf="!sideList.children" class="first-li side-li" nz-menu-item [nzSelected]="sideList.selected">
  <a *ngIf="sideList.path" [attr.href]="'/' + sideList.path + '/#/' + sideList.link" [attr.target]="sideList.target"
    routerLinkActive="active">
    <i nz-icon [nzType]="sideList.icon"></i>{{sideList.label}}
  </a>
  <a *ngIf="!sideList.path" [routerLink]="'/'+sideList.link" routerLinkActive="active" [attr.target]="sideList.target">
    <i nz-icon [nzType]="sideList.icon"></i>{{sideList.label}}
  </a>
</li>
