<header class="clearfix brbottom">
  <div class="left">
    <ul class="noborder" nz-menu nzMode="horizontal">
      <li nz-menu-item><i nz-icon type="mail"></i></li>
      <li nz-menu-item nzDisabled><i nz-icon type="appstore"></i></li>
      <li nz-submenu>
        <span title><i nz-icon type="setting"></i></span>
      </li>
    </ul>
  </div>
  <div class="right">
    <ul class="noborder" nz-menu nzMode="horizontal">
      <li nz-menu-item><i nz-icon type="mail"></i></li>
      <li nz-menu-item nzDisabled><i nz-icon type="appstore"></i></li>
      <li nz-submenu>
        <span title><i nz-icon type="setting"></i></span>
      </li>
    </ul>
  </div>
</header>
