<nz-layout>
  <nz-sider nzCollapsible [nzTrigger]="triggerTemplate">
    <app-aside></app-aside>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <app-header></app-header>
    </nz-header>
    <nz-content style="margin:10px 16px;overflow: auto;height:calc(100% - 120px)">
      <app-content></app-content>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>
