.trigger {
  font-size: 18px;
  line-height: 40px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}


nz-layout {
  height: 100%;
  background: #fff;
}

.ant-layout-footer {
  padding: 10px 50px;
}

.ant-layout-header {
  height: 40px;
  line-height: 40px;
}
